/* Merriweather and Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Color variables */
:root{
    --background-color: #f3f0e7;
    --text-color: #7a94c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #e8dfca;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .logo img{
    width: 40px;
    height: auto;
}

.sidebar {
  width: 250px;
  background: #f5efe6;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  padding: 1rem;
  transition: left 0.3s ease;
  z-index: 2000;
}

.sidebar ul {
  list-style: none;
  margin-top: 2rem;
}

.sidebar li {
  padding: 0.5rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar.show {
  left: 0;
}

.close-btn {
  cursor: pointer;
  font-size: 1.2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  display: none;
  z-index: 1500;
}

.overlay.show {
  display: block;
}

main {
  padding: 2rem;
}